body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav-bar {
    display: flex;
    background-color: #1f2937;
    height: 50px;
    width: 100%;
    margin: 0;
}

.nav-items {
    flex: 1;
    list-style: none;
    color: #f9faf8;
    margin: auto;
    padding: 0;
    max-width: 800px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-items .logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

.container {
    height: 300px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container.first {
    background-color: #1f2937; 
    color: #e5e7eb;
    flex: auto;
    gap: 40px;
}

.container.first .main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.container.first .content {
    width: 380px;
}

.button {
    background-color: #3882f6;
    color: #f9faf8;
    width: 90px;
    height: 30px;
    border-radius: 10px;
}

.first-img {
    width: 380px;
    text-align: center;
}
