body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav-bar {
    display: flex;
    background-color: #1f2937;
    height: 50px;
    width: 100%;
    margin: 0;
}

.nav-items {
    flex: 1;
    list-style: none;
    color: #f9faf8;
    margin: auto;
    padding: 0;
    max-width: 800px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-items .logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

.container {
    display: flex;
    height: 400px;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.container.first {
    background-color: #1f2937; 
    color: #e5e7eb;
    flex: auto;
    gap: 40px;
}

.container.first .main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.container.first .content {
    width: 380px;
}

.container.first .button {
    background-color: #3882f6;
    color: #f9faf8;
    width: 90px;
    height: 30px;
    border-radius: 10px;
}

.first-img {
    width: 380px;
    text-align: center;
}

.container.second {
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.container.second .content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.container.second .title {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.container.second .content .item {
    width: 140px;
    text-align: center;
}

.img-list {
    width: 140px;
    height: 140px;
}

.container.third {
    background-color: #e5e7eb;
}

.container.third .content {
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container.third .quote {
    font-size: 36px;
    font-style: italic;
}

.container.third .author {
    font-weight: bold;
    font-size: 24px;
    color: #1f2937;
    margin-left: auto;
}

.container.fourth .content {
    display: flex;
    height: 150px;
    width: 1200px;
    background-color: #3882f6;
    color: #f9faf8;
    align-items: center;
    justify-content: center;
    gap: 150px;
    border-radius: 10px;
}

.container.fourth .button {
    background-color: #3882f6;
    color: #f9faf8;
    width: 90px;
    height: 30px;
    border-radius: 10px;
    border-color: #f9faf8;
}

.container.fourth .content .text .title {
    margin: 0px;
}

.container.fourth .content .text .description {
    margin: 0px;
}

.container.fifth {
    background-color: #1f2937;
    color: #f9faf8;
    height: 80px;
}